/* Define a mixin for flex */
@keyframes flex {
    /* CSS properties for flex */
}
.parent-div {
    position: absolute; /* Ensure the parent div serves as the positioning context */
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    overflow: hidden; /* Ensure the child elements don't overflow beyond the parent */
}

.spinner { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 9px;
    margin-left: -22px;
    margin-top: -13px;
    text-align: center;
}

.spinner > div { 
    width: 9px;
    height: 9px;
    background-color: #dcdcdc;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1400ms ease-in-out infinite;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 { 
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 { 
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}

#loading-bubble {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: auto;
    height: auto;
    min-width: 73px;
    min-height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative; /* Changed from absolute to relative */
    background-color: #2e66bd;
}

#loading-bubble.grey {
    background-color: #a5b0b5;
}

#loading-bubble:before {
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent #2e66bd transparent transparent;
    position: relative;
    left: -8px;
    top: 13px;
}

.spinner {
    position: static !important;
    margin-top: -11px;
    margin-left: 0px;
}

.spinner > div {
    background-color: #fff;
}

@keyframes message-bounce {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
}
